
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>


</head>
<body bgcolor="#f0fff0">
{% include 'adminmenu.html' %}
<form action="" method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <th colspan="2" style="text-align: center;">Modify Diseases</th>
        </tr>
        <tr>
            <th>{{ form }}</th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="2">
                <button type="submit" class="btn-success">Modify</button>
            </th>
        </tr>
    </table>

</form>
</body>
</html>